{% extends "_base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}

<div class="container mx-auto px-4">
    <div class="flex justify-between items-center">
        <div class="flex flex-col items-center">
            <img src="{% static 'img/card-01.jpg' %}" alt="เมี่ยงคำ" class="rounded-full" style="width: 200px; height: 200px;">

            <p class="text-xl mt-2 text-base font-Mitr">เมี่ยงคำกลับบัวหลวงแบบโบราณ</p>
            <p class="text-sm text-base mt-2 font-Sarabun">มีคุณค่าทางสมุนไพรสูง เพราะมีคุณสมบัติใน</p>
            <p class="text-sm text-base mt-2 font-Sarabun">การบำรุงรักษาร่างกายถึง 4 เพื่อให้สมดุลกัน กลีบ</p>
            <p class="text-sm text-base mt-2 font-Sarabun">บัวหลวง มีสีสันสวยงาม มีสรรพคุณบำรุง</p>
            <p class="text-sm text-base mt-2 font-Sarabun">ร่างกาย ห้ามเลือด มีเส้นใยอาหารสูง และ</p>
            <p class="text-sm text-base mt-2 font-Sarabun">กระตุ้นการขับถ่าย เป็นยาสมานแผล ช่วยบำรุงร่างกาย บำรุง</p>
            <p class="text-sm text-base mt-2 font-Sarabun">หัวใจ ลดความดันโลหิตสูง และลด</p>
            <p class="text-sm text-base mt-2 font-Sarabun">ระดับน้ำตาลในเลือดได้</p>
            <div class="flex flex-col items-center justify-center gap-5 mt-6 md:flex-row"><a
                class="inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all rounded-md shadow-xl sm:w-auto bg-gradient-to-r from-orange-600 to-orange-500 hover:bg-gradient-to-b dark:shadow-orange-900 shadow-orange-200 hover:shadow-2xl hover:shadow-orange-400 hover:-translate-y-px font-Sarabun"
                href="page3">เรียนรู้เพิ่มเติม
            </a>
            </div>
        

        </div>

        <div class="flex flex-col items-center">
            <img src="{% static 'img/card-02.jpg' %}" alt="ปลาส้ม" class="rounded-full" style="width: 200px; height: 200px;">

            <p class="text-xl mt-2 text-base font-Mitr">ปลาส้มทรงเครื่องสมุนไพร</p>
            <p class="text-sm text-base mt-2 font-Sarabun">ปลาที่นำมาเป็นปลาส้ม จะเลือกใช้ปลาบึกและ</p>
            <p class="text-sm text-base mt-2 font-Sarabun">ปลาสวาย ซึ่งเป็นปลาธรรมชาติจากกลุ่มแม่น้ำ</p>
            <p class="text-sm text-base mt-2 font-Sarabun">โขง เนื้อปลาคุณไปด้วยโปรตีนสูง ไขมันต่ำ</p>
            <p class="text-sm text-base mt-2 font-Sarabun">ประกอบกับวังหัวกับอุรสาธารณีแม่น้ำไหลผ่าน</p>
            <p class="text-sm text-base mt-2 font-Sarabun">ถึง 3 สาย ได้แก่ แม่น้ำมูล แม่น้ำชี และแม่น้ำโขง</p>
            <p class="text-sm text-base mt-2 font-Sarabun">จึงคุณไปด้วยพันธุ์ปลานานาชนิด จึงได้รับ</p>
            <p class="text-sm text-base mt-2 font-Sarabun">สมญานามาให้เป็นราชาแห่งปลาเเซ่บหลาย</p>
            <div class="flex flex-col items-center justify-center gap-5 mt-6 md:flex-row"><a
                class="inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all rounded-md shadow-xl sm:w-auto bg-gradient-to-r from-orange-600 to-orange-500 hover:bg-gradient-to-b dark:shadow-orange-900 shadow-orange-200 hover:shadow-2xl hover:shadow-orange-400 hover:-translate-y-px font-Sarabun"
                href="page4">เรียนรู้เพิ่มเติม
            </a>
            </div>
            
            
        </div>

        <div class="flex flex-col items-center ">
            <img src="{% static 'img/card-03.jpg' %}" alt="หมี่กะทิ" class="rounded-full" style="width: 200px; height: 200px;">
            
            <p class="text-xl mt-2 text-base font-Mitr">หมี่กะทิ</p>
            <p class="text-sm text-base mt-2 font-Sarabun">มีคุณค่าทางสมุนไพรสูงมีใยอาหารสูง มีวิตามิน</p>
            <p class="text-sm text-base mt-2 font-Sarabun">และเกลือแร่ที่สำคัญ อยู่ในส่วนประกอบของ</p>
            <p class="text-sm text-base mt-2 font-Sarabun">อาหารและในส่วนที่เป็นเครื่องเคียง อาหารพื้น</p>
            <p class="text-sm text-base mt-2 font-Sarabun">เมือง อุดมด้วยพืชผักสมุนไพรมากมายหลาย</p>
            <p class="text-sm text-base mt-2 font-Sarabun">ชนิด ซึ่งมีสรรพคุณทางยาจากสรรพคุณยาเคมี จึง</p>
            <p class="text-sm text-base mt-2 font-Sarabun">มีคุณสมบัติในการรักษาสุขภาพให้เป็นปกติกับ</p>
            <p class="text-sm text-base mt-2 font-Sarabun">ปรับปรุงสุขภาพให้ดีขึ้นและลดอัตราเสี่ยงต่อ</p>
            <p class="text-sm text-base mt-2 font-Sarabun">การเกิดโรค</p>
            <div class="flex flex-col items-center justify-center gap-5 mt-6 md:flex-row"><a
                class="inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all rounded-md shadow-xl sm:w-auto bg-gradient-to-r from-orange-600 to-orange-500 hover:bg-gradient-to-b dark:shadow-orange-900 shadow-orange-200 hover:shadow-2xl hover:shadow-orange-400 hover:-translate-y-px font-Sarabun"
                href="page5">เรียนรู้เพิ่มเติม
            </a>
            </div>

        </div>
    </div>
</div>

{% endblock content %}
